.acknowledgement{

    color: black;
    text-decoration-style: solid;
    
    
    
}
.details{
  
 
    text-align: center;
}
#details{
  text-decoration-style: solid;
}
.mySlides {display:none;}
.vital{

    
    
    background-color: white;
    width: 100%; 

}
.w3-content{
    
   
  margin-bottom: 10px;

  margin-left: 70PX;
  width : 100%;
    

}
body{

    
 background-color: mediumturquoise; 
 
  border:2px solid DodgerBlue;
  border:10px;
  margin: 0;
}
h1{
    color: skyblue;
    text-align: center
}
.marvel{
 
}
#tittle{

    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: rgb(150, 37, 37);
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  text-align: center;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
.des{
  margin-top: 10px;
  border: 5px black;
  margin-bottom: 10px;
}
image{
      background-color: aqua;
}
#head{

  color: white;
  background-color: black;
  text-align: center;
}
.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: rgb(32, 71, 33);
  color: white;
  text-align: center;
  text-decoration-style: solid;
}
#result{
  background-color: whitesmoke;
  color: blue;
}